<section class="bg-light" >
    <div class="container p-4">
        <div class="card-box card-u-pro-set">
            <div class="row">
                <div class="col-md-6 col-lg-6 "><h5 class="header-title  ml-3">My Tasks</h5></div>
                <div class="col-md-6 col-lg-6 d-flex justify-content-end"><a href="/service-requests"><button type="button" class="simple-btn" >Apply for Service Resquests</button></a></div>
            <div class="table-responsive mt-3">
                <table class="table">
                    <thead>
                        <tr class="text-primary card-header medium">
                        <th>#</th>
                        <th>Title</th>
                        <th>Date Posted</th>
                        <th>Due Date</th>
                        <th>Status</th>
                        <th>Client</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% let i = 1;
                        if (postRequests) { postRequests.forEach(request=>{ %>
                        <tr id="project_row" class=" job-details">
                        <td><%= i %></td>
                        <td><a href="#requestModalCta<%=i%>" data-toggle="modal" data-caption-animate="fadeInUp" ><%=request.requestTitle %></a></td>
                        <td><%=request.createdAt.getUTCMonth() + 1 %>/<%= request.createdAt.getUTCDate()%>/<%= request.createdAt.getUTCFullYear() %></td>
                        <td><%=request.deadline %></td>
                        <td><span class="label label-info"><%=request.status%></span></td>
                        <td> <%= request.username %></td>
                        </tr>


                        <div class="modal fade" id="requestModalCta<%=i%>" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-md modal-dialog-centered" role="document">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content pt-1 mb-1">
                                  <div class="modal-header mt-1">
                                    <h4 class="mt-1 mb-1 text-center"> <%= request.requestTitle %></h4>
                                    <button type="button" class="close pr-1" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    </div>
                                        <div class="form-container">
                                            
                                            <div class="row border-bottom mt-1">
                                                <div class="col">
                                                    <h6>Category</h6><span class="job-details"><%=request.requestCategory %></span> 
                                                </div>
                                            </div>
                                            <div class="row border-bottom mt-1">
                                                <div class="col">
                                                    <h6>Budget</h6> <span class="job-details">$ <%=request.budget%></span>
                                                </div>
                                            </div>
                
                                            <div class="row border-bottom mt-1">
                                                <div class="col">
                                                    <h6>Deadline</h6><span class="job-details"><%=request.deadline%></span>
                                                </div>
                                            </div>
                
                                            <div class="row border-bottom mt-1">
                                                <div class="col p-2">
                                                    <h6>Description</h6>
                                                    <span class="job-details"><%=request.requestDescription%></span>
                                                </div>
                                            </div>
                                            <h6 class="mt-2">Files</h6>
                                            <div class="row border-bottom p-3 mt-1">
                                                
                                                    <% let j = 0; request.files.forEach(file=>{ j++; %>
                
                                                    
                                                    <div class="col-sm-4 col-lg-2">
                                                        <!-- Post Modern-->
                                                        <a href="/postAttachements/<%=file%>" download="<%=file%>" class="d-flex justify-content-center px-4" >
                                                            <b class="fa fa-file-text-o fa-4x mb-1 file-icon" aria-hidden="true"></b>
                                                        </a>
                                                        
                                                      </div>
                
                                                    <% }) %>
                                                </div>

                                        </div>
                          
                                  </div>
                                </div>
                              </div>
                            </div>

                    <% i++; });} %>
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>