<div class="container shadow-sm mb-5 bg-white rounded ">
    <div class="row">
      <div class="col p-4">
        
        <div class="row border-bottom mt-1">
          <div class="col">
            <h5>Job request details</h5> 
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <span > Request title: <b> <%=job.requestTitle%> </b>
          </div>
        </div>
          
          <div class="row mt-1">
            <div class="col">
            <span > Category: <b> <%=job.requestCategory %></b></span> 
            </div>
          </div>
            <div class="row mt-1">
              <div class="col">
                <span > Budget: <b> <%=job.budget %></b></span>
              </div>
            </div>
            <div class="row mt-1">
              <div class="col">
              <span > Deadline: <b> <%=job.deadline %></b></span>
              </div>
            </div>
            <div class="row mt-1">
              <div class="col p-2">
                <span > Deascription: <b> <%=job.description %></b></span>
              </div>
            </div>
            <div class="row p-3 mt-1">
              <% if (job.files.length == 0){ %>
                                  <div class="col">
                                      <span class="text-muted text-small"> This service request have no attachments.</span>
                                  </div>
                              <% } else { %>
                                  <% let j = 0; job.files.forEach(file=>{ j++; %>

                                  <!--span class="d-none" id="file-"><%= file%></a></p-->
                                  <div title="Download file <%=j%>" data-toggle="tooltip" data-placement="bottom"  class=" col-sm-4 col-lg-2 tooltips cursor mb-4" >
                                  <!--span class="job-details"><%=job.files.length%></span-->
                                      <!-- Post Modern-->
                                      <div class="d-flex justify-content-center px-4 px-auto" onClick="downloadFile('<%= file%>')" >
                                          <b class="fa fa-file-text-o fa-5x mb-1 file-icon" aria-hidden="true"></b>
                                          <span class="post-modern-time">  <%=job.requestTitle%>'s file <%=j%></span>
                                          
                                      </div>
                                      
                                    </div>

                                  <% }); } %>
                </div>
              
          </div>
     </div>
  </div>