<%- include('partials/header') %>
<section class="mt-4">
  <div class=" mt-4 p-4">
    <div class="row justify-content-center ">
      <div class="col-lg-5 text-center">
      <a href="index.html">
      <img src="assets/img/svg/logo.svg" alt="">
      </a>
      <div class="card mt-5">
      <div class="card-body py-5 px-lg-5">
      <div class="svg-icon svg-icon-xl-ver text-purple">
      <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><title>ionicons-v5-g</title><path d="M336,208V113a80,80,0,0,0-160,0v95" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path><rect x="96" y="208" width="320" height="272" rx="48" ry="48" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></rect></svg>
      </div>
      <h3 class="fw-normal text-dark mt-4-ver">
      Email verification
      </h3>
      <p class="mt-4-ver mb-1">
      We sent a verification code to your email.
      </p>
      <p>
      Please enter the code in the field below.
      </p>
      <form action="<%=form_action%>" method="post">
        <div class="row mt-4-ver pt-2">

            <div class="col">
              <input type="text" name="first" class="form-control form-control-ver form-control-lg-ver text-center py-4" maxlength="1" autofocus="" required>
            </div>
            <div class="col">
              <input type="text" name="second" class="form-control form-control-ver form-control-lg-ver text-center py-4" maxlength="1" required>
            </div>
            <div class="col">
              <input type="text" name="third" class="form-control form-control-ver form-control-lg-ver text-center py-4 " maxlength="1" required>
            </div>
            <div class="col">
              <input type="text" name="fourth" class="form-control form-control-ver form-control-lg-ver text-center py-4 " maxlength="1" required>
            </div>
            <div class="col">
              <input type="text" name="fifth" class="form-control form-control-ver form-control-lg-ver text-center py-4 " maxlength="1" required>
            </div>
            <div class="col">
              <input type="text" name="sixth" class="form-control form-control-ver form-control-lg-ver text-center py-4" maxlength="1" required>
            </div>
          </div>
          <input name="id" value="<%=userId%>" style="display: none;" type="text"/>
          <input type="submit" class="btn button-primary btn-lg w-100 hover-lift-light mt-4-ver" value="Verify m Account" required>
      </form>
        
     
      </div>
      </div>
      
      <p class="text-center text-muted mt-4-ver">
      Didn't receive it?
      <a href="/resendCode/<%=userId%>" class="text-decoration-none ms-2">
      Resend code
      </a>
      </p>
      </div>
      </div>
    
    </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
 <script>
  var currentBoxNumber = 0;
  
  $(".form-control").keyup(function (event) {
      //if (event.keyCode == 13) {
          textboxes = $("input.form-control");
          currentBoxNumber = textboxes.index(this);
          //console.log(textboxes.index(this));
          if (textboxes[currentBoxNumber + 1] != null) {
              nextBox = textboxes[currentBoxNumber + 1];
              nextBox.focus();
              nextBox.select();
              event.preventDefault();
              return false;
          } 
      //}
  });
 </script>

    <%- include('partials/footer') %>