<%- include('partials/header') %>
<section class="bg-light mt-4 pt-4">
    <div class="container p-4">
      <div class="page-content container container-profile p-4 note-has-grid">
        <ul class="nav nav-pills p-3 bg-white mb-3 rounded-pill align-items-center">
        <li class="nav-item" onClick="getRequests('active')">
          <a href="javascript:void(0)" class="nav-link rounded-pill note-link d-flex align-items-center px-2 px-md-3 mr-0 mr-md-2 active" id="active-bookings">
            <i class="icon-layers mr-1"></i><span class="d-none d-md-block">Active</span>
          </a>
        </li>
        <li class="nav-item" onClick="getRequests('in-progress')">
          <a href="javascript:void(0)" class="nav-link rounded-pill note-link d-flex align-items-center px-2 px-md-3 mr-0 mr-md-2" id="inprogress-bookings"> <i class="icon-briefcase mr-1"></i><span class="d-none d-md-block">In Progress</span></a>
          </li>
        <li class="nav-item" onClick="getRequests('completed')">
        <a href="javascript:void(0)" class="nav-link rounded-pill note-link d-flex align-items-center px-2 px-md-3 mr-0 mr-md-2" id="completed-bookings"> <i class="icon-briefcase mr-1"></i><span class="d-none d-md-block">Completed</span></a>
        </li>
        <li class="nav-item" onClick="getRequests('cancelled')">
        <a href="javascript:void(0)" class="nav-link rounded-pill note-link d-flex align-items-center px-2 px-md-3 mr-0 mr-md-2" id="cancelled-bookings"> <i class="icon-share-alt mr-1"></i><span class="d-none d-md-block">Cancelled</span></a>
        </li>
        <li class="nav-item" onClick="getRequests('missing-details')">
          <a href="javascript:void(0)" class="nav-link rounded-pill note-link d-flex align-items-center px-2 px-md-3 mr-0 mr-md-2" id="missing-bookings"> <i class="icon-share-alt mr-1"></i><span class="d-none d-md-block">Missing details</span></a>
          </li>
        <li class="nav-item" onClick="getRequests('all')">
        <a href="javascript:void(0)" class="nav-link rounded-pill note-link d-flex align-items-center px-2 px-md-3 mr-0 mr-md-2" id="all-bookings"> <i class="icon-tag mr-1"></i><span class="d-none d-md-block">All</span></a>
        </li>
        
        </ul>
        <div class="tab-content bg-transparent px-4">
        <div id="requests-container" class="row p-3">
          <% if (postRequests.length > 0) { postRequests.forEach(req=>{ %>
          <div class="col-lg-4 col-md-6 col-12 mt-1 pt-2">
            <div class="card border-0 bg-light-job rounded-job shadow-job">
                <div class="card-body p-4">
                <span class="btn btn-sm ${classes[Math.floor(Math.random() * 5)]} cat-job float-md-right mb-3 mb-sm-0"><%= req.requestCategory %></span>
                  <h5><%=req.requestTitle %></h5>
              
                <div class="mt-3">
                    <span class="d-block job-details"><b class="fa fa-money mr-2" aria-hidden="true"></b>  Budget: <%= req.budget %></span>
                    <span class="d-block job-details"><b class="fa fa-calendar mr-2" aria-hidden="true"></b> Deadline: <%= req.deadline %></span>
                </div>
                <div
                  class="fb-like"
                  data-share="true"
                  data-width="450"
                  data-show-faces="true">
                </div>
                <div class="mt-3 border-bottom pb-4 d-flex ">
                    <% if(req.status == 'cancelled') { %>
                      <a class="btn-job btn-primary-job-inv" href="/sr/<%=req._id%>">Resubmit request</a>
                    <% } else  { %>
                    <a class="btn-job btn-primary-job-inv" href="/manage-request?rq=<%=req._id%>">Manage  request</a>
                    <% } %>
                </div>
                    <div class=""><span class="float-md-right text-small mt-1">Submitted on <%= req.createdAt.getUTCMonth() + 1 %>/<%= req.createdAt.getUTCDate()%>/<%= req.createdAt.getUTCFullYear() %></span></div>
                </div>
            
            </div>
          </div>
          <% } ); } else {%>
            <div class=" col d-flex justify-content-center align-items-center"><h6 class="text-light text-muted">No request found!</h6></div>
          <% } %>
          </div>
      </div>
      </div>

    </div>
</section>

<script src="js/handleRequests.js"></script>

<%- include('partials/footer') %>