


<%- include('partials/header') %>

<section class="bg-light p-4">
   <div class="container p-4">

    <div class="row">

        <div class="col p-4">

            <nav aria-label="breadcrumb" class="main-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Notifications</li>
                </ol>
            </nav>
            <% let unreads = [];
                let reads = [];
                let urCounter = 3;
                notifications.forEach(notif=>{
                if(notif.status == "unread")
                    unreads.push(notif);
                else
                    reads.push(notif);
                })%>
            <div class="box shadow-sm rounded bg-white mb-3">
            <div class="box-title border-bottom p-3">
            <h6 class="m-0">Recent</h6>
            </div>
            <div class="box-body p-0" id="unreadNotifs">
                <% if(unreads.length > 0){ 
                    unreads.forEach(ur=>{  %>
                    <div class="px-3 d-flex align-items-center unread border-bottom osahan-post-header">
                    <div class="dropdown-list-image mr-3">
                        <b class="fa fa-address-card fa-2x rounded-circle file-icon" aria-hidden="true"></b>
                    </div>
                    <div class="font-weight-bold mr-2">
                        <div class="text-truncate"><%= ur.title%></div>
                        <div class="small"><%= ur.content%></div>
                    </div>
                    <span class="ml-auto mb-auto">
                        <div class="btn-group">
                            <button type="button" class="btn btn-light btn-sm rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="mdi mdi-dots-vertical"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <button class="dropdown-item" type="button"><i class="mdi mdi-delete"></i> Delete</button>
                                <button class="dropdown-item" type="button"><i class="mdi mdi-close"></i> Turn Off</button>
                            </div>
                        </div>
                        <br/>
                        <div class="text-right text-muted pt-1"><%=Math.floor(Math.abs( new Date() - ur.createdAt ) / (1000*3600*24))%>d</div>
                    </span>
                    </div>
            <% }); urCounter = urCounter * 2;    
                } %>
                <input id="limit" class="d-none" value="<%=urCounter%>" >
           
            </div>
            <div class="px-auto d-flex justify-content-center"><button type="button" onClick="loadMoreUnread()" class="btn btn-outline-success btn-sm mt-2 mb-2">Load More...</button></div>
            </div>
            <div class="box shadow-sm rounded bg-white mb-3">
                <div class="box-title border-bottom p-3">
                    <h6 class="m-0">Earlier</h6>
                </div>
                <div class="box-body p-0">
                    <% if(reads.length > 0){ 
                        reads.forEach(rd=> {  %>
                            <div class="p-3 d-flex align-items-center read border-bottom osahan-post-header">
                                <div class="dropdown-list-image mr-3 d-flex align-items-center bg-danger justify-content-center rounded-circle text-white">DRM</div>
                                <div class="font-weight-bold mr-3">
                                    <div class="text-truncate"><%= rd.title%></div>
                                    <div class="small"><%= rd.content%></div>
                                </div>
                                <span class="ml-auto mb-auto">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-light btn-sm rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="mdi mdi-dots-vertical"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right" style>
                                            <button class="dropdown-item" type="button"><i class="mdi mdi-delete"></i> Delete</button>
                                            <button class="dropdown-item" type="button"><i class="mdi mdi-close"></i> Turn Off</button>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="text-right text-muted pt-1"><%=Math.floor(Math.abs( new Date() - rd.createdAt ) / (1000*3600*24))%>d</div>
                                </span>
                            </div>
                    <% }) } %>
            
                </div>
                <div class="px-auto d-flex justify-content-center"><button type="button" class="btn btn-outline-success btn-sm mt-2 mb-2">Load More...</button></div>
            </div>
            </div>
    </div>


   </div>

</section>

<script>

function loadMoreUnread(){
        const limit = document.getElementById("limit");
        requestData = {
            lim : limit.value
        }

    _postData('/notifications', requestData )
      .then(async response => {
        
        if(response.status == 200){
            let contnt = "";
            for(const noti of response.notifications){
                const html = `
                <div class="px-3 d-flex align-items-center unread border-bottom osahan-post-header">
                    <div class="dropdown-list-image mr-3">
                        <b class="fa fa-address-card fa-2x rounded-circle file-icon" aria-hidden="true"></b>
                    </div>
                    <div class="font-weight-bold mr-2">
                            <div class="text-truncate">${noti.title}</div>
                            <div class="small">${noti.content}</div>
                    </div>
                    <span class="ml-auto mb-auto">
                        <div class="btn-group">
                            <button type="button" class="btn btn-light btn-sm rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="mdi mdi-dots-vertical"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <button class="dropdown-item" type="button"><i class="mdi mdi-delete"></i> Delete</button>
                                <button class="dropdown-item" type="button"><i class="mdi mdi-close"></i> Turn Off</button>
                            </div>
                        </div>
                        <br/>
                        <div class="text-right text-muted pt-1">${noti.age}d</div>
                    </span>
                    </div>
                `
                contnt = contnt + html;
            }
            const newLimit = response.notifications.length + 3;
            contnt = contnt + `<input id="limit" class="d-none" value="${newLimit}" >`;
            document.getElementById("unreadNotifs").innerHTML = contnt;
            
        }
        
      }).catch(err => {
        console.log(err) // Handle errors
      });

    }

async function _postData(url = '', data = {}) {
    const response = await fetch(url, {
        method: 'POST',
        cache: 'no-cache',
        credentials: 'same-origin',
        redirect: 'follow',
        referrerPolicy: 'no-referrer',
        headers: {
            "Content-type": "application/json; charset=UTF-8"
        },
        body: JSON.stringify(data)
    });
    const contentType = response.headers.get("content-type");
    if (contentType && contentType.indexOf("application/json") !== -1) {
      return response.json();
    }else{ return response;}
}
</script>

<%- include('partials/footer') %>